<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">About</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/Phd">PhD</a></li>
				<li><a href="/Presentations">Presentations</a></li>
				<li><a href="/Teaching">Teaching</a></li>
	        		<li><a href="/Pubs">Publications</a></li>
				<li><a href="/HRS">Fundraising</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:fvandenbroeck@gmail.com">email</a></li>
	        		<li><a href="https://github.com/frebio">github.com/frebio</a></li>
				</ul>
			</footer>
		</body>
	</html>
